<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AssemblyFolderCLR2" value="C:\Windows\assembly\GAC_MSIL"/>
    <add key="AssemblyFolderCLR4" value="C:\Windows\Microsoft.NET\assembly\GAC_MSIL"/>
    <add key="BackupAssemblies" value="True"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
